/* This is a comment in CSS. This 
The format of a CSS style is: 
*/
body{
    background-color: blue;
    color: beige;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: bisque;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding:5px;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin-right: 200px;
}

/* This is a custom selector - it will only affect an item on the HTML page that has an ID od memeImage;
these settings will help with a future assignment. */
#memeImage{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 200px;
    margin-right: 200px;
}
header{
    text-align: center;
}

/* Anchor tag styles - make the hyperlinks look better */
a{
    text-decoration: none;
    color: green;
}