/* This is a comment in CSS. This 
The format of a CSS style is: 
*/
body {
    background-color: blue;
    color: beige;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(249, 0, 0, 0.407);
}

nav {
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

main{
    float: right;
}

footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
    margin-right: 200px;
}

/* This is a custom selector - it will only affect an item on the HTML page that has an ID od memeImage;
these settings will help with a future assignment. */
#memeImage {
    position: absolute;
    left: 25%;
    top: 25%;
    width: 200px;
    margin-right: 200px;
}

header {
    text-align: center;
}

/* Anchor tag styles - make the hyperlinks look better */
a {
    text-decoration: none;
    color: green;
}

/* Table Styles */
table {
    width: 80%;
    border-collapse: collapse;
    /* this prevents stacked border lines */
}

th,
td {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

th {
    background-color: rgb(255, 0, 0);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(128, 114, 238);
    color: black;
}

tr:hover {
    background-color: darkblue;
}

/* menu styles */
/* set the nav and ul to some default settings */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 255, 0);
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;
}

nav ul li a:hover {
    background-color: blueviolet;
}

nav ul li a:active {
    background-color: rosybrown;
}